name: phpstan

on: [ push, pull_request ]

jobs:
  analyze:
    runs-on: ubuntu-latest

    name: PHPStan

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          tools: phpstan

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: phpstan-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: phpstan-composer-

      - name: Install dependencies
        run: composer install --no-interaction --no-suggest

      - name: Run analysis
        run: phpstan analyse
